/* reset.css взяла из блога https://www.joshwcomeau.com/css/custom-css-reset/ но там не сбрасываются стили h, i и тут нужны твои комментарии */
/* как центрировать элемент у которого ширина блока родителя, не применяя align-items: center и text-align: center только с помощью гридов  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --button-bgd: #ff6b6b;
  --button-hover-bgd: #e35a5a;
  --text-color: #21243d;
  --year-tag-color: #142850;
  --background-color: #fff;
  --background-color-light-blue: #edf7fa;
  --font-family-base: 'Heebo', sans-serif;

  --font-size-header: 2rem;
  --font-size-main-header: 1.375rem;
  --font-size-button: 1.25rem;
  --font-size-view: 1.125rem;
  --font-size-base: 1rem;

  --font-size-desktop-header: 2.75rem;

  --padding-small: 0.625rem;
  --padding-medium: 0.938rem;
  --padding-large: 1.25rem;
  --padding-social-media: 2rem;
  --padding-x-large: 3.125rem;
  --padding-desktop-x-large: 9.375rem;
  --padding-desktop-large: 4.375rem;
  --padding-desktop-medium: 7.5rem;

  --margin-x-small: 0.625rem;
  --margin-small: 1.25rem;
  --margin-medium: 1.875rem;

  --margin-desktop-medium: 2.5rem;
}

body {
  font-family: var(--font-family-base);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}

img {
  max-width: 100%;
  display: block;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  display: none;
}

.menu-icon {
  display: flex;
  justify-content: flex-end;
  padding: var(--padding-large) var(--padding-small) var(--padding-small)
    var(--padding-small);
  font-size: 2rem;
}

/* visually hidden правильный ли код? */
.header-helper {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.profile {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding-large) var(--padding-large) var(--padding-x-large);
}

.profile h2 {
  margin-top: var(--margin-medium);
}
.profile p {
  margin-top: var(--margin-small);
}

.profile button {
  margin-top: var(--margin-medium);
}
.avatar-container {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--background-color-light-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-container img {
  height: auto;
  justify-self: center;
}

.cv-download {
  background-color: var(--button-bgd);
  color: var(--background-color);
  padding: var(--padding-small) var(--padding-large);
  border: none;
  border-radius: 5px;
  font-size: var(--font-size-base);
  cursor: pointer;
  text-align: center;
}

.cv-download:hover {
  background-color: var(--button-hover-bgd);
}

.recent-posts {
  align-items: center;
  background-color: var(--background-color-light-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding: var(--padding-small);
}

.recent-posts h3,
.featured-works h3 {
  font-size: var(--font-size-view);
  font-weight: 400;
  padding: var(--padding-medium);
}

.recent-posts article {
  background-color: var(--background-color);
  margin-bottom: var(--margin-x-small);
  padding: var(--padding-small);
  max-width: 420px;
}

.recent-posts article p {
  margin-bottom: var(--margin-x-small);
}

.recent-posts h4 {
  font-size: var(--font-size-button);
  font-weight: 700;
  margin-bottom: var(--margin-x-small);
}

.tag-container {
  margin-bottom: var(--margin-small);
}

.tag-container time {
  border-right: 1px solid var(--text-color);
  padding-right: var(--padding-large);
}

.tag-container span {
  padding-left: var(--padding-small);
}

.view-posts {
  display: none;
}

.featured-works {
  align-items: center;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.featured-works article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding: var(--padding-small);
}

.featured-works img {
  margin-bottom: 1rem;
  align-self: center;
}

.featured-works h4 {
  font-size: var(--font-size-main-header);
  margin-bottom: 1rem;
}

.featured-works time {
  background-color: var(--year-tag-color);
  color: var(--background-color);
  padding: 5px 15px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  margin-right: var(--margin-small);
}

.social-network-list {
  display: flex;
  justify-content: center;
  gap: var(--padding-social-media);
}

footer {
  padding: var(--padding-x-large) 0;
}

footer p {
  text-align: center;
  margin-top: var(--margin-medium);
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .main-navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: var(--padding-social-media);
    padding-right: var(--padding-x-large);
    padding-top: var(--padding-large);
  }

  .menu-icon {
    display: none;
  }

  .view-posts {
    display: inline-block;
  }

  .profile {
    display: flex;
    flex-direction: row;
    padding: 0 var(--padding-desktop-x-large);
    gap: 115px;
    padding-bottom: var(--padding-desktop-large);
  }

  .avatar-container {
    width: 243px;
    height: 243px;
    min-width: 243px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--background-color-light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
  }

  .caption-container {
    order: 0;
  }

  .caption-container h2 {
    font-size: var(--font-size-desktop-header);
    margin-bottom: var(--margin-desktop-medium);
  }

  .caption-container p {
    margin-bottom: var(--margin-desktop-medium);
  }

  .recent-posts {
    padding: 0 var(--padding-desktop-medium);
    align-items: baseline;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* justify-items: flex-start; */
  }

  .recent-post-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .recent-post-header-container a {
    display: block;
    font-size: var(--font-size-view);
    font-weight: 400;
    padding: var(--padding-medium);
  }

  .article-list {
    display: flex;
    flex-direction: row;
  }

  .recent-posts article {
    margin-right: 20px;
  }
}
